.container {
  max-width: 695px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.column-one-third {
  width: 33%;
}

.column-full {
  width: 100%;
}

.row {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.margin-15 {
  margin: 15px;
}

.margin-top {
  margin-top: 30px;
}

.images {
  background-color: white;
  border-radius: 50%;
  padding: 10%;
  display: inline-block;
}

body {
  background-color: #1a96d9;
  color: white;
  font-family: 'Lato', sans-serif;
}

img {
  width: 45px;
}

h1 {
  font-size: 1.4rem;
  font-weight: 500;
}

h2 {
  font-size: 1rem;
  font-weight: 500;
}

p {
  font-size: 0.75rem;
  color: #ddd;
}
